.page {
  background-color: black;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
}
.header {
  margin-top: 45px;
  /* max-width: 880px; */
}
.header__logo {
  width: 137px;
  height: 33px;
  padding-bottom: 41px;
}
.header__line {
  max-width: 880px;
  line-height: 1px;
  opacity: 0.699999988079071;
  background: #545454;
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 24px;
}
.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: baseline;
}
.profile__title {
  font-family: "inter";
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding-bottom: 16px;
}
.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border-color: white;
  align-items: center;
  margin-left: 18px;
}
.profile__description {
  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  grid-area: description;
}
.profile__add-button {
  background: url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-color: white;
}
.cards {
}
.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 57px 0 67px 0;
  list-style: none;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.card__description {
  background-color: white;
  display: flex;
  /* width: 100%; */
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  color: black;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  margin: 0;
}
.card__like-button {
  background: url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.footer {
  display: flex;
}
.footer__copyright {
  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
  padding-bottom: 60px;
  margin: 0;
}
@media screen and (max-width: 750px) {
  .header {
    max-width: 584px;
  }
  .profile {
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 584px;
  }
  .profile__info {
    display: flex;
    justify-content: center;
    max-width: 350px;
    flex-wrap: wrap;
    gap: 16px;
  }
  .profile__title {
    font-size: 34px;
  }
  .profile__edit-button {
    margin: 0;
  }
  .profile__add-button {
    margin: 0;
    max-width: 350px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 620px) {
  /* .header {
    max-width: 282px;
  }
  .profile {
    background-color: pink;
    max-width: 282px;
  } */
}
@media screen and (max-width: 480px) {
  .profile {
    background-color: green;
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    /* justify-items: center; */
    align-items: baseline;
    justify-content: center;
    max-width: 282px;
  }
  .profile__title {
    padding-bottom: 14px;
    font-size: 22px;
  }
  .profile__add-button {
    margin: 0;
    max-width: 282px;
    height: 50px;
    margin-top: 20px;
  }
}
